*{
	margin: 0;
	padding: 0;
	border: none;
}
body{
	width: 960px;
	margin: 0 auto;
	background-color: #d6f2c1;
	font-family: 'Cuprum', sans-serif;
	overflow: hidden;
}
header{
	width: 960px;
	height: auto;
	background-color: #ffffff;
	overflow: hidden;
}
#logo{
	float: left;
	width: 480px;
	height: 190px;
}
header img{
	display: inline-block;
}
.logo{
	padding: 20px 65px 20px 65px;
	width: 350px;
	height: 150px;
}
#busca{
	float: left;
	width: 480px;
	height: 190px;
}
header div a img {
	float: left;
	margin: 120px 0px 20px 36px;
	width: 50px;
	height: 50px;
}
header div input{
	float: left;
	margin: 130px 65px auto 90px;
	padding: 6px 40px;
	border: 4px inset #47ab04;
	border-radius: 40px;
}
header div input::-webkit-input-placeholder{
    color: #47ab04;
    font-weight: bold;
}
nav{
	overflow: hidden;
	padding: 24px;
	background-color: #47ab04;
}
nav ul{
	margin-left: 15px;
}
nav a{
	text-decoration: none;
	color: #494628;
}
nav a:hover{
	padding: 10px 20px;
	background-color: #d6f2c1;
	color: #494628;
	border: 4px solid #494628;
	border-radius: 30px;
}
nav li{
	float: left;
	padding: 0 40px;
}
.slide{
	width: 960px;
	height: 600px;
}

footer{
	overflow: hidden;
	background-color: #494628;
	color: #47ab04;
}
footer div{
	height: 140px;
	float: left;
	width: 200px;
}
footer ul{
	padding-top: 60px;
	padding-left: 600px;
}
footer ul div{
		height: auto;
		width: auto;
}
h3{
	padding-top: 65px;
	padding-left: 500px;
}


ul.spicesocialwidget li {float: left;list-style: none outside none;border:none;}
ul.spicesocialwidget li a{background-color:transparent;background-image:url('https://lh6.googleusercontent.com/-ImfwnK13pGw/Ui7ndohdbeI/AAAAAAAAB94/mkMwWrLrrP0/s924/mini-social-icons.png');background-repeat:no-repeat;background-size:auto 96px;border:0 none;color:white;direction:ltr;display:block; height:32px;overflow:hidden;text-align:left;text-decoration:none;text-indent:-999em;transition:all 0.2s ease 0s;width:32px}
.ie7 ul.spicesocialwidget li a, .ie8 ul.spicesocialwidget li a{background-image:url('https://lh6.googleusercontent.com/-ImfwnK13pGw/Ui7ndohdbeI/AAAAAAAAB94/mkMwWrLrrP0/s924/mini-social-icons.png' )}
ul.spicesocialwidget li.facebook a{ background-position:0 0}
ul.spicesocialwidget li.googleplus a{ background-position:-96px 0}
ul.spicesocialwidget li.twitter a{ background-position:-256px 0}
ul.spicesocialwidget li.youtube a{ background-position:-320px 0}
ul.spicesocialwidget li.facebook a:hover, #sidebar ul.spicesocialwidget li.facebook a:hover{ background-position:0 -32px}
ul.spicesocialwidget li.googleplus a:hover, #sidebar ul.spicesocialwidget li.googleplus a:hover{ background-position:-96px -32px}
ul.spicesocialwidget li.twitter a:hover, #sidebar ul.spicesocialwidget li.twitter a:hover{ background-position:-256px -32px}
ul.spicesocialwidget li.youtube a:hover, #sidebar ul.spicesocialwidget li.youtube a:hover{ background-position:-320px -32px}

#mapdiv{
	position: relative; 
	background: transparent; 
	height: 400px; 
	width: 400px; 
	}

